:root {
  --primary: #731514;
  --color1: #EBDDDD;
  --color2: #C39A9A;
  --color3: #AF7978;
  --color4: #873635;
  --color5: #731514;
  --success-main: #337320;
  --success-base: #68A356;
  --success-accent:#104201;
  --warning-main: #B22222;
  --warning-base: #C95858;
  --warning-accent: #B22222;
}
