.menu-app-info {
    background: url("https://pruebasassets.portaloas.udistrital.edu.co/Logos-nuevos-aplicativos-vertical.png");
    display: inline-block;
    height: 286px;
    width: 1009px;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 2px solid;
    border-color: #BCCAD9;
    border-radius: 30px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltip-description {
    visibility: hidden;
    width: 120px;
    background-color: #BCCAD9;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 95%;
    left: -15%;
    content: "hello";
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #BCCAD9;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 95%;
    left: -15%;
    content: "hello";
}


/* .tooltip:hover .tooltiptext {
    visibility: visible;
    text-transform: uppercase;
  } */

.tooltip:hover .tooltip-description {
    visibility: visible;
    text-transform: uppercase;
}

#agora-info {
    background-position: 0px 0px;
}

#argo-info {
    background-position: 0px -286px;
}

#arka-info {
    background-position: 0px -572px;
}

#cumplidos-info {
    background-position: 0px -858px;
}

#jano-info {
    background-position: 0px -1144px;
}

#kronos-info {
    background-position: 0px -1430px;
}

#kyron-info {
    background-position: 0px -1716px;
}

#oikos-info {
    background-position: 0px -2002px;
}

#perseo-info {
    background-position: 0px -2288px;
}

#polux-info {
    background-position: 0px -2574px;
}

#resoluciones-info {
    background-position: 0px -2860px;
}

#sga-info {
    background-position: 0px -3146px;
}

#sisifo-info {
    background-position: 0px -3432px;
}

#temis-info {
    background-position: 0px -3718px;
}

#titan-info {
    background-position: 0px -4004px;
}